<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/6b67f820-77a2-4761-b62d-0f635c07a56f/resourceGroups/rg-Spring2026-Project3-wmfoster/providers/Microsoft.Web/sites/Spring2026-Project3-wmfoster</ResourceId>
    <ResourceGroup>rg-Spring2026-Project3-wmfoster</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://spring2026-project3-wmfoster-dpajbnfph4cugtd9.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>93708111-d507-a184-b09c-b63781092734</ProjectGuid>
    <PublishUrl>https://spring2026-project3-wmfoster-dpajbnfph4cugtd9.scm.canadacentral-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>